<main class="min-h-screen flex flex-col">
  <header class="bg-primary py-6 sm:py-10">
    <div class="container mx-auto space-y-5 px-4">
      <h1 class="text-2xl sm:text-3xl text-white font-medium">Movie search</h1>
      <div class="flex w-full justify-center">
        <input type="search" (input)="handleSearchChange($any($event.target).value)" class="bg-white sm:text-lg placeholder:text-gray-400 py-2 px-4 rounded-3xl outline-0 focus:outline-2 focus:outline-accent outline-offset-1 min-w-[min(100%,500px)]" type="text" placeholder="Type to search...">
      </div>
    </div>
  </header>
  <section class="bg-secondary grow relative px-4">
    <div appDragToScroll class="overflow-x-auto lg:!cursor-default">
      <div class="container lg:mx-auto mx-4">
        @if (movieResource.isLoading()) {
          <div class="absolute z-10 top-2/4 left-2/4 -translate-x-1/2 -translate-y-1/2 backdrop-blur-2xl">
            <mat-spinner [diameter]="50" class="text-accent"></mat-spinner>
          </div>
        }

        @if (!movieResource.isLoading() && !!search()) {
          <table class="*:text-white block space-y-4 my-8 divide-y-2 divide-primary *:pb-4 w-full min-w-4xl">
            <tr class="flex *:basis-full gap-2 sm:gap-5 *:border *:border-transparent" cdkDropList (cdkDropListDropped)="dropColumn($event)" cdkDropListOrientation="horizontal" >
              @for (column of columns(); track column.property) {
                <th [ngClass]="{'bg-primary': column.activeSort}" class="w-full cursor-move group py-2" cdkDrag [cdkDragData]="column">
                  <span class="relative">{{column.label}}
                    <button (click)="handleSortColumn(column)"
                    [ngClass]="{'rotate-180': column.sort === 'desc'}"
                    class="font-semibold hidden group-hover:inline-block absolute -right-5 cursor-pointer transition duration-300">&uarr;</button>
                  </span>
                </th>
              }
            </tr>
            @for (movie of movieResource.value(); track movie.Title) {
              <tr class="flex *:basis-full gap-2  sm:gap-5 *:text-center items-center *:text-sm">
                @for (column of columns(); track column) {
                  @if (column.property === 'Poster') {
                    <td>
                      <img class="w-full object-cover" [src]="movie.Poster" [alt]="movie.Title">
                    </td>
                  } @else {
                    <td class="last-of-type:pr-1">{{getColumnValue(movie, column.property) || ''}}</td>
                  }
                }
              </tr>
            } @empty {
              <tr class="bg-primary w-full h-[20vh] flex items-center justify-center">
                <td class="text-center ">
                  <p class="text-xl">{{movieResource.error() || 'No data found' }}</p>
                </td>
              </tr>
            }
        </table>
        }
      </div>
    </div>
  </section>
</main>
