@import "tailwindcss";

@theme {
  --color-primary: #2f3441;
  --color-secondary: #1e2129;
  --color-accent: #00acc1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  @apply !stroke-accent;
}

.cdk-drag-preview {
  @apply bg-primary text-white;
}

.cdk-drag-placeholder {
  @apply border border-dashed border-primary
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
